@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    font-family: 'Inter';
}

.react-toggle-track {
  background-color: #ddd;
  border-radius: 25px;
  width: 65px;
  height: 25px;
  padding: 2px;
}

.react-toggle-thumb {
  width: 21px;
  height: 21px;
  top: 4px;
  left: 3px;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}


.react-toggle--checked .react-toggle-track {
  background-color: #AF47E1;
}

.react-toggle--checked .react-toggle-thumb {
  transform: translate3d(18px, 0, 0);
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #F1D4FF; /* <-- change this to the desired purple color */
}
